#nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 20px;
}
#nav .ham{
    display: none;
}
button {
    cursor: pointer;
}
#nav div{
    display: flex;
} 
.sidebar{
    display: none;
}
.show{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    margin: auto;
    align-items: center;
}
#second{
    gap: 20px;
}
#container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    padding: 0 50px;
}
.info{
    padding: 0 20px;
}
.info p{
 font-size: 16px;
 font-weight: 800;
 font-family: Arial, Helvetica, sans-serif;
}

#span{
    color: blue;
}
.carousel {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border: 8px solid darkgray;
    border-radius: 5%;
  }
  
  .carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .carousel-slide img{
    width: 100%;
    height: 100%;
  }
  .carousel-slide.active {
    opacity: 1;
  }
  #prevBtn{
    position: absolute;
    top: 50%;
    left: 0;
    border: none;
    border-radius: 50%;
    background-color: rgb(98, 88, 240);
    color: white;
  }
  #nextBtn{
    position: absolute;
    top: 50%;
    right:0;
    border: none;
    border-radius: 50%;
    background-color:  rgb(98, 88, 240);
    color: white;
  }
#demo_btn{
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
}
.cont_btn {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.cont_btn a{
    color: blue;
}

#trust{
    text-align: center;
    margin-top: 50px; 
    padding: 10px 0;
    background-color: rgb(237, 237, 240); 
}
#trust p{
    font-size: 16px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
#images{
    margin-bottom: 40px ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 50px;
    background-color: rgb(237, 237, 240); 
}
#images div{
    margin: 10px;
    background-color: rgb(237, 237, 240);
    padding: 10px 0;
}
#images img {
    width: 150px;
    height: 150px;
}

#form_container{
    border: 8px solid darkgray;
    border-radius: 10px;
    width: 600px;
    padding: 30px 0px;
}
#form_container form{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
}
#form_container form label{
    font-size: 20px;
}

#form_container form input{
    margin-top: 5px;
    width: 98%;
    border: none;
    border-top: 1px solid darkgray;
    height: 30px;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: rgb(220, 240, 247)
}
.carousel {
    margin: auto;
    position: relative;
    width: 90%;
    height: 300px;
    overflow: hidden;
    border: 8px solid darkgray;
    border-radius: 5%;
  }
  
.details_btn{
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;
    width: 100%; 
}
a{
    color: black;
    text-decoration: none;
}

#contact_container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    padding: 0 50px;
}

@media screen and (max-width: 950px) and (min-width: 500px) {
    #container{
        text-align: center;
        align-items: center;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        padding: 0 ;
    }
    #contact_container{
        margin: auto;
        text-align: center;
        align-items: center;
        grid-template-columns: repeat(1,1fr);
        padding: 0 ;
    }
    #images{ 
        grid-template-columns: repeat(2,1fr);
    }
    .carousel {
        height: 250px;
      }
    .info{
        padding: 0 ;
        width: 100%;
    }
    #form_container{
        margin: auto;
        width: 90%;  
    }
    #form_container form{
        width: 90%;
        margin: auto;
        text-align: left;
    }
    #form_container form input{
        width: 100%;
        
    }
}

@media screen and (max-width: 500px) {
    #nav{
        padding: 0;
    }
    #container{
        text-align: left;
        align-items: center;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        padding: 0;
    }
    #contact_container{
        margin: auto;
        text-align: left;
        align-items: left;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        width: 100%;
        padding: 0%;
    }
    #images{ 
        grid-template-columns: repeat(1,1fr);
    }
    .info{
        padding: 0 ;
    }
    #form_container{
        width:100%;
        border: none;
    }
    #form_container form{
        width: 90%;
        padding: 0;
    }
    #nav #second{
        display: none;
    }
    #nav .ham{
       display: block;
       width: 50px;
    }
    #nav .ham img{
        width: 100%;
     }
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  